<div class="container-fluid py-lg-5" id="skill">
  <h2 class="title-skills">Compétences</h2>

  <div class="col-sm-8 offset-sm-2 div-skills">
    <div class="row">
      <!-- First col of skills -->
      <div class="col-sm-6">
        <!-- C++ -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">C++</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[0]">
          </mat-progress-bar>
        </div>
        <!-- Java -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">Java</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[1]">
          </mat-progress-bar>
        </div>
        <!-- Python -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">Python</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[2]">
          </mat-progress-bar>
        </div>
        <!-- OpenGL -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">OpenGL</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[3]">
          </mat-progress-bar>
        </div>
      </div>
      <!-- Second col of skills-->
      <div class="col-sm-6">
        <!-- Unity/C# -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">Unity/C#</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[4]">
          </mat-progress-bar>
        </div>
        <!-- C -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">C</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[5]">
          </mat-progress-bar>
        </div>
        <!-- DirectX -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">DirectX</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[6]">
          </mat-progress-bar>
        </div>
        <!-- Angular -->
        <div class="row">
          <div class="col-sm-2">
            <p class="name-skill">Angular</p>
          </div>
          <mat-progress-bar
            class="col-sm-8 bar-skills"
            [color]="color"
            [mode]="mode"
            [value]="values[7]">
          </mat-progress-bar>
        </div>
      </div>
    </div>
  </div>

</div>
