<div class="container-fluid py-lg-5" id="cont">
  <h2 class="title-contact">Contact (en travaux)</h2>
  <div class="row">
    <div class="col-sm-4 offset-sm-4 contact-div">
      <!-- Formulaire -->
      <form (ngSubmit)="submitForm()" #contactForm="ngForm" >
        <!-- Champ nom -->
        <div class="row py-sm-1">
          <label>Nom :</label>
          <input
            class="form-control"
            type="text"
            name="name"
            [(ngModel)]="name"
            #nameInput="ngModel"
            placeholder="Votre nom"
            required>
          <p class="error" *ngIf="nameInput.invalid && nameInput.touched">Nom requis</p>
        </div>
        <!-- Champ email -->
        <div class="row py-sm-1">
          <label>Mail :</label>
          <input
            class="form-control"
            type="email"
            name="email"
            [(ngModel)]="email"
            #emailInput="ngModel"
            placeholder="Votre email"
            required
            email>
          <p class="error" *ngIf="emailInput.invalid && emailInput.touched">Email requis et doit être au bon format</p>
        </div>
        <!-- Champ titre -->
        <div class="row py-sm-1">
          <label>Sujet :</label>
          <input
            class="form-control"
            type="text"
            name="subject"
            [(ngModel)]="subject"
            #subjectInput="ngModel"
            placeholder="Titre de votre message"
            required>
          <p class="error" *ngIf="subjectInput.invalid && subjectInput.touched">Sujet de message requis</p>
        </div>
        <!-- Champ message -->
        <div class="row py-sm-1">
          <label>Message :</label>
          <textarea
            class="form-control"
            rows="3"
            name="message"
            [(ngModel)]="message"
            placeholder="Contenu de votre message"></textarea>
        </div>
        <button
          type="submit"
          [disabled]="contactForm.invalid">
          Envoyer
        </button>
      </form>
    </div>
  </div>
</div>
