<div class="container-fluid py-lg-5" id="cont">
  <h2 class="title-contact">Contact</h2>
  <div class="row">
    <div class="col-sm-4 offset-sm-4 contact-div">
      <!-- Formulaire -->
      <form
        action="https://formspree.io/f/xayldrov" method="POST">
        <!-- Champ nom -->
        <div class="row py-sm-1">
          <label for="name">Nom :</label>
          <input class="form-control" id="name" type="text" name="name" placeholder="Votre nom">
        </div>
        <!-- Champ email -->
        <div class="row py-sm-1">
          <label for="mail">Mail :</label>
          <input class="form-control" id="mail" type="text" name="_replyto" placeholder="Votre email">
        </div>
        <!-- Champ titre -->
        <div class="row py-sm-1">
          <label for="subject">Sujet :</label>
          <input class="form-control" id="subject" type="text" name="subject"placeholder="Titre de votre message">
        </div>
        <!-- Champ message -->
        <div class="row py-sm-1">
          <label for="message">Message :</label>
          <textarea class="form-control" id="message" rows="3" name="message" placeholder="Contenu de votre message"></textarea>
        </div>
        <button type="submit">Envoyer</button>
      </form>


    </div>
  </div>
</div>
