.project-picture {
  background: url('src/assets/LOG_proj.PNG') no-repeat center;
  top: 0;
  background-size: 100%;
  height: 500px;
}

.project-content {
  margin-top: 10px;
  text-align: center;
}
