<div class="container-fluid out">
  <h2>Etudes</h2>

  <!-- School 1 -->
  <div class="row py-lg-2">
    <div class="col-sm-2 offset-sm-2 left-educ info-left-animate">
      <p class="date">2017-2022</p>
      <p class="diploma-left">Diplome d'ingénieur</p>
    </div>
    <div class="col-sm-6 right-educ">
      <p class="diploma-right info-right-animate">Diplome d'ingénieur informatique</p>
      <p class="school info-right-animate">Insa de Rennes</p>
      <ul class="infos info-right-animate">
        <li>
          2 ans de prépa intégrée : mathématiques, mécanique, éléctromagnétisme, informatique,
          ...
        </li>
        <li>
          Cycle ingénieur informatique, spécialité Média & Interactions
        </li>
      </ul>
    </div>
  </div>

  <!-- School 2 -->
  <div class="row py-lg-4">
    <div class="col-sm-2 offset-sm-2 left-educ info-left-animate">
      <p class="date">2014-2017</p>
      <p class="diploma-left">Baccalauréat</p>
    </div>
    <div class="col-sm-6 right-educ">
      <p class="diploma-right info-right-animate">Baccalauréat SI, spécialité Mathématiques</p>
      <p class="school info-right-animate">Lycée Alfred de Vigny, 37600, Loches</p>
      <ul class="infos info-right-animate">
        <li>
          Mention très bien
        </li>
      </ul>
    </div>
  </div>

</div>
