<div class="container-fluid py-lg-5" id="proj">
  <h2 class="title-project">Projets</h2>
  <div class="col-sm-8 offset-sm-2">
    <!-- FIRST ROW -->
    <div class="row ">
      <!-- First Project -->
        <div class="col-sm-4 proj-body">
          <mdb-card class="project-card">
            <mdb-card-img src="assets/NAV_proj_sm.jpg" alt="Application d'annotation de documents anciens"></mdb-card-img>
            <mdb-card-body>
              <h4>NAVI : Une application d'annotation de documents anciens</h4>
              <p>Septembre - Juin 2020</p>
              <a mdbBtn gradient="sunny-morning" mdbWavesEffect routerLink="/adda" routerLinkActive="active"> <mdb-icon fas icon="angle-right"></mdb-icon> Voir plus</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      <!-- Second Project -->
        <div class="col-sm-4 proj-body">
          <mdb-card class="project-card">
            <mdb-card-img src="assets/LOG_proj_sm.png" alt="Géométries de Thurston"></mdb-card-img>
            <mdb-card-body>
              <h4>Le Mystère des Géométries de Thurston</h4>
              <p>Septembre - Juin 2021</p>
              <a mdbBtn gradient="sunny-morning" mdbWavesEffect  routerLink="/thurston" routerLinkActive="active"> <mdb-icon fas icon="angle-right"></mdb-icon> Voir plus</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      <!-- Third Project -->
        <div class="col-sm-4 proj-body">
          <mdb-card class="project-card">
            <mdb-card-img src="assets/IG_proj_sm.jpg" alt="Animation les Zinzins de l'espace">

            </mdb-card-img><mdb-card-body>
              <h4>Création d'un court-métrage avec OpenGL et C++</h4>
              <p>Septembre - Novembre 2020</p>
              <a mdbBtn gradient="sunny-morning" mdbWavesEffect routerLink="/vaisseau" routerLinkActive="active"> <mdb-icon fas icon="angle-right"></mdb-icon> Voir plus</a>
            </mdb-card-body>
          </mdb-card>
        </div>
    </div>
    <!-- SECOND ROW -->
    <div class="row py-sm-5">
      <!-- Fourth Project -->
      <div class="col-sm-4 proj-body">
        <mdb-card class="project-card">
          <mdb-card-img src="assets/ISL_proj_sm.png" alt="Island project"></mdb-card-img>
          <mdb-card-body>
            <h4>Islanders, un jeu vidéo en Angular</h4>
            <p>Octobre - Janvier 2021</p>
            <a mdbBtn gradient="sunny-morning" mdbWavesEffect routerLink="/island" routerLinkActive="active"> <mdb-icon fas icon="angle-right"></mdb-icon> Voir plus</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Fifth Project -->
      <div class="col-sm-4 proj-body">
        <mdb-card class="project-card">
          <mdb-card-img src="assets/POR_proj_sm.PNG" alt="Portoflio"></mdb-card-img>
          <mdb-card-body>
            <h4>Création d'un portfolio en Angular</h4>
            <p>Novembre - Décembre 2020</p>
            <a mdbBtn gradient="sunny-morning" mdbWavesEffect  routerLink="/portfolio" routerLinkActive="active"> <mdb-icon fas icon="angle-right"></mdb-icon> Voir plus</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Sixth Project -->
      <div class="col-sm-4 proj-body">
        <mdb-card class="project-card">
          <mdb-card-img src="assets/RAY_proj_sm.PNG" alt="Raymarching sous Unity"></mdb-card-img>
          <mdb-card-body>
            <h4>Raymarching sous Unity</h4>
            <p>Novembre 2020</p>
            <a mdbBtn gradient="sunny-morning" mdbWavesEffect routerLink="/raymarch" routerLinkActive="active"> <mdb-icon fas icon="angle-right"></mdb-icon> Voir plus</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
