<div class="container" style="margin-top: 70px;">

  <div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare neque ac turpis volutpat, non congue nisi varius.
          Cras ac euismod augue. Fusce placerat, dolor semper molestie imperdiet, arcu dui aliquam urna, molestie molestie
          est odio in arcu. Sed consectetur aliquet risus, eget iaculis arcu bibendum id. Nulla mi massa, blandit id urna
          vitae, efficitur commodo ipsum. Pellentesque sit amet elementum neque. Fusce vulputate eros nec risus laoreet sodales.
          Phasellus ut neque purus. Nullam interdum, urna at molestie suscipit, tortor leo fermentum ex, ac ullamcorper augue odio
          et sem. Phasellus ultrices orci diam, sit amet vulputate quam bibendum vel.
        </p>

        <p>
          Nam in sodales magna, sed convallis ante. Pellentesque viverra bibendum tellus sed auctor. Phasellus mollis placerat orci,
          vitae suscipit tortor fringilla sed. Maecenas vulputate placerat urna sit amet iaculis. Duis dictum massa vel nisl porttitor
          sodales. Nullam convallis dictum elit et aliquam. Curabitur fermentum a urna tincidunt efficitur. Phasellus et pharetra odio,
          vitae faucibus urna. Curabitur pellentesque tempus nunc nec rutrum.
        </p>

        <p>
          Morbi rhoncus egestas purus quis facilisis. Donec sed nulla vitae quam posuere rutrum. Curabitur vel ex at sapien porttitor interdum
          eu et urna. Donec nec consequat nisl. Sed nec hendrerit dolor. Mauris at odio interdum, tempor sapien nec, mollis libero. Curabitur
          sit amet lectus ut ante tempor sodales. Quisque pharetra turpis scelerisque commodo suscipit. Aenean felis est, feugiat quis laoreet
          ac, volutpat eu dui. Vestibulum imperdiet neque id nulla feugiat maximus. Fusce lectus tortor, ullamcorper pulvinar est a, pharetra
          scelerisque sem. Suspendisse suscipit turpis dolor, id scelerisque nisi semper at.
        </p>

        <p>
          Duis at convallis velit, sed sollicitudin ligula. Sed porta volutpat augue, congue scelerisque dolor tristique ac. Pellentesque habitant
          morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus sed diam sed lacus pharetra vestibulum. Aliquam vestibulum
          libero vitae elementum facilisis. Vestibulum ultrices lorem quis sapien euismod rutrum. Sed interdum lobortis dolor, at dapibus metus gravida
          et. Aliquam erat volutpat.
        </p>

        <p>
          Integer lectus nibh, egestas interdum ante id, molestie faucibus nibh. Vivamus pellentesque, tortor non vehicula pharetra, nulla ex laoreet
          augue, sodales ultricies enim est nec risus. Pellentesque molestie viverra magna, volutpat lacinia mauris finibus quis. Duis ac mi ac nulla
          auctor faucibus in pharetra urna. Nam dictum facilisis est, vitae lobortis lectus sodales a. Curabitur lacinia luctus quam a vehicula. Mauris
          magna ipsum, aliquet at felis at, tincidunt accumsan diam. Quisque fringilla, neque ut hendrerit consequat, nulla mauris venenatis lacus, vel
          maximus ipsum dolor nec nunc. Phasellus congue turpis et fringilla mattis.
        </p>
      </div>
    </div>
  </div>
</div>
