<div class="container-fluid" id="pres">
  <div class="row py-lg-5">
    <div class="col-sm-8 offset-sm-2">
      <mdb-card>
        <!-- Body -->
        <mdb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <h5>A propos de moi :</h5>
            <p>
              Bonjour, je m'appelle <b>Alexandre Chapin</b>, je suis en 4 année de cycle ingénieur à l'INSA de Rennes.
              J'ai rejoins le département informatique après une prépa intégrée, et j'ai choisi de suivre l'option
              Média & Interactions. <br>
              En effet, je me suis voué une passion pour le traitement de l'image ainsi que pour le
              rendu 2D ou 3D. Je suis très intéressé par les nouvelles technologies : réalité virtuelle/augmentée,
              intelligence artificielle sont des domaines pour lequel j'ai un grand intérêt. <br>
              Je dispose d'un certain nombre de compétences de part les différents projets que j'ai pu réaliser seul,
              ou aux côtés de camarades. Sur ce site, vous pourrez trouver plus d'informations à propos de moi,
              mais également à propos des diverses projet dans lesquels j'ai pu m'impliquer.
            </p>
          </div>
          <div class="col-sm-6">
            <h5>Informations de base :</h5>
            <ul>
              <li class="text-pres row">
                <mat-icon class="col-sm-3">cake</mat-icon> <span class="col-sm-6">16/04/1999</span>
              </li>
              <li class="text-pres row">
                <mat-icon class="col-sm-3">mail</mat-icon> <span class="col-sm-6">alexchapin@hotmail.fr</span>
              </li>
              <li class="text-pres row">
                <mat-icon class="col-sm-3">phone</mat-icon> <span class="col-sm-6">0755673117</span>
              </li>
              <li class="text-pres row">
                <mat-icon class="col-sm-3">home</mat-icon> <span class="col-sm-6"> 10, Rue de la Rivière, 35510, Cesson-Sevigné</span>
              </li>
              <li class="text-pres row">
                <mat-icon class="col-sm-3">flag</mat-icon> <span class="col-sm-6"> Français, Anglais</span>
              </li>
            </ul>
          </div>
        </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
