<div class="jumbotron jumbotron-fluid">
  <!-- Image de background -->
  <div class="background-image"></div>

  <div class="container container-fluid">
    <!-- Photo de profil -->
    <img class="profile-img"src="../../../assets/me.jpg">

    <!-- Nom et titre -->
    <h1>Alexandre Chapin</h1>
    <p>Elève en 4e année de cycle ingénieur informatique</p>

    <!-- Boutons contact et CV -->
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Primary</button>
    <button mat-stroked-button>Contactez-moi</button>
  </div>
</div>
<hr class="mt-2 mb-3"/>
