.jumbotron {
  margin-bottom: 0px;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

.background-image {
  filter: blur(5px);
  position: absolute;
  background: url('src/assets/bg2.jpg') no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  z-index: -1;
}

.profile-img {
  width: 200px;
  height: 200px;
  border: solid 5px lightslategray;
  margin: 10px;
  border-radius: 100px;

}

.profile-img:hover {
  animation: 500ms ease-out 0s 1 respiration;
}

@keyframes respiration {
  0% {
    transform: scale(1);
    padding: 0px;
  }
  50% {
    transform: scale(1.2);
    padding: 5px;
  }
  100% {
    padding: 0px;
  }
}

.container h1{
  text-shadow: 3px 3px 0 black;
}






